# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

# ignore rubymine specific IDE...
.idea

# I don't want to show my secrets
/config/secrets.yml

# do not push secret keys.
.env