## DevcampPortfolio ##
- Creating this repository to follow along the contents of Jordan Hudgen's course, Professional-rails-5-development-course
on Udemy
    - The course is here, https://www.udemy.com/professional-rails-5-development-course/

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

# ignore rubymine specific IDE...
.idea