<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Todd's Portfolio</h1>
    <p class="lead text-muted">
      This is just a sample page of some of my work, I will be providing some links to some GitHub repositories of mine.
      One important thing to note is sometimes I will be displaying links to private repositories, for those you should
      <%= link_to 'contact me', contact_path %>. Thanks for viewing this page.
    </p>
    <p>
      <%= link_to "Find Out more About Me", about_me_path, class: 'btn btn-primary' %>
      <%= link_to "My Blog", blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>