<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr/>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "yoshi.jpeg", width: 300, alt: "Profile Image", class: 'profile-img'%>
      </div>

      <div class="col-md-8">
        <p>I am currently expanding my knowledge of many programming languages by learning Full-Stack Web Development. I have
          built my own smaller scale websites using other programming languages and technologies such as Java, Spring, Python,
          and Django. Currently I am learning Ruby and Ruby on Rails (RoR) 5 (this website is built using Ruby and RoR 5). I
          am open to learning any programming languages as I have prior internship experience where I developed using C++
          (back-end development) and Objective-C (mobile development). I am taking a variety of online courses to further my
          exposure to different programming languages and to gain more software development skills.
        </p>

        <p>As I attempt to further gain my software development skills, I am also exposing myself to using testing frameworks
          such as: JUnit (with Java), Unittest (Python/Django), Capybara (Ruby), Poltergeist (Ruby), and RSpec (Ruby).
        </p>
      </div>
    </div>
  </div>
</div>



